DATABASE_URL='DB FILE PATH' # required
DISCORD_TOKEN='TOKEN' # required
WOL_IP='WOL IP ADDRESS' # required for WOL command
WOL_MAC='WOL MAC ADDRESS' # required for WOL command
OWNER_DISCORD_ID='OWNER_ID' # required for WOL command
TEST_SERVER_ID='SERVER_ID' # optional for usage in the dev command